@import "./variable.scss";

.nav-link {
  cursor: pointer;
}

.content-wrapper {
  background: $bgc !important;
}

.page-link {
  background-color: $bgc !important;
}

.breadcrumb-item.active {
  color: $head-nav-c !important;
}
