@import "bootstrap/scss/bootstrap.scss";
@import "./variable.scss";

form {
  .back {
    margin-bottom: 1.2rem;
    float: right;
  }
  .submit {
    margin-bottom: 2rem;
    margin-top: 1rem;
    float: right;
  }
  .form-group {
    margin-top: 1rem;
  }

  img {
    max-width: 100%;
    max-height: 500px;
    border: 1px solid $highlight-bgc;
    &.preview {
      max-height: 200px;
      filter: brightness(80%);
      opacity: 0.7;
    }
  }

  .file-label {
    background-color: $head-nav-bgc;
    color: $head-nav-c;
    margin-bottom: 0px;
    &:hover {
      background-color: $highlight-bgc;
      color: $highlight-c;
    }
    &.disabled {
      background-color: #888;
      color: #000;
    }
  }

  .file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

div.floating-label {
  $p: 0.5rem;
  $f-s: 1rem;
  label {
    display: inline-block;
    position: absolute;
    transition: all 150ms ease-in;
    color: #a5a5a5;

    height: auto;
    padding: $p;
    font-size: $f-s;

    &.active {
      transform: translateY(-1.3rem);
      font-size: 0.9rem;
      color: #000;
      text-shadow: 3px 1px 4px #fff, -1px 1px 1px #fff, 3px 1px 1px #fff, -1px 1px 10px #fff, 1px 2px 1px #fff,
        4px -2px 4px #fff, 4px 3px 4px #fff, 4px -3px 4px #fff;
    }
  }

  .input {
    -webkit-appearance: none;
    height: auto;
    padding: $p;
    font-size: $f-s;
  }
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;

  @mixin text {
    padding: 0.5rem;
    font-size: 1rem;
    @media only screen and(max-height: $m-w) {
      padding: 0.4rem;
      font-size: 0.8rem;
    }
    @media only screen and(max-height: $sm-w) {
      padding: 0.3rem;
      font-size: 0.6rem;
    }
  }
  div.floating-label {
    label {
      @include text;

      &.active {
        font-size: 0.9rem;
        transform: translateY(-1.3rem);
        @media only screen and(max-height: $m-w) {
          font-size: 0.7rem;
          transform: translateY(-1rem);
        }
        @media only screen and(max-height: $sm-w) {
          font-size: 0.65rem;
          transform: translateY(-0.9rem);
        }
      }
    }
  }

  .title {
    @extend .text-center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    @media only screen and(max-height: $m-w) {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }
    @media only screen and(max-height: $sm-w) {
      font-size: 1rem;
      margin-bottom: 0.2rem;
    }
  }
  input {
    height: auto;
    @include text;
  }
  .submit {
    @extend .btn-lg;
    @extend .btn-block;
    @extend .btn-primary;
    font-size: 1.4rem;
    margin-top: 2.2rem;
    @media only screen and(max-height: $m-w) {
      font-size: 1rem;
      margin-top: 1rem;
    }
    @media only screen and(max-height: $sm-w) {
      font-size: 0.8rem;
      margin-top: 0.6rem;
    }
  }
  .form-group {
    @media only screen and(max-height: $m-h) {
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
    }
    @media only screen and(max-height: $sm-h) {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

.form-file {
  .btn-group {
    .btn {
      border-radius: 0.25rem !important;
    }
  }
}

.form-group.select {
  color: #000;
  label {
    color: $c;
  }
}

.form-control:disabled {
  background-color: #c6c9cc !important;
}

input[type="radio"],
input[type="checkbox"] {
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
}
input[type="radio"] + label:before,
input[type="checkbox"] + label:before {
  height: 12px;
  width: 12px;
  margin-right: 2px;
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  background: $highlight-c;
  border: 1px solid $highlight-bgc;
}
input[type="radio"].checked + label:before,
input[type="checkbox"].checked + label:before {
  background: $highlight-bgc;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
input[type="radio"] + label:before {
  border-radius: 50%;
}
input[type="checkbox"] + label:before {
  border-radius: 2px;
}
