@import "./variable.scss";
@import "./mask.scss";

[class*="sidebar-dark-"] .nav-flat .nav-item .nav-treeview > .nav-item > .nav-link,
[class*="sidebar-dark-"] .nav-flat .nav-item .nav-treeview > .nav-item > .nav-link.active {
    border-color: $highlight-bgc !important;
}

.right-mask {
    @extend .mask;
    display: none;
    z-index: 1037;
}

@media (max-width: 992px) {
    .right-mask {
        display: block;
    }
}

.dropdown-item {
    &:hover,
    &:focus,
    &:active {
        color: $highlight-c !important;
        background-color: $highlight-bgc !important;
    }
}

.dropdown-menu {
    cursor: pointer;
}

.right {
    float: right;
}

.has-tree.menu-open {
    background-color: $setting-active-bgc !important;
    i:last-of-type {
        @include rotate(-90deg);
        @include ease-in-out(0.2s);
    }
}

.has-tree + ul {
    padding-left: 0rem !important;
    list-style: none !important;
    > li {
        padding: 0.2rem;
    }
    > li:hover {
        background-color: $highlight-bgc !important;
    }
}

.font-sm {
    font-size: 0.5rem !important;
}
