@import "./variable.scss";
// @import "bootstrap/scss/bootstrap.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", 黑體-繁, 微軟正黑體 !important;
  color: $c !important;
  background: $bgc !important;
  overflow-y: scroll !important;
}

:lang(en) {
  font-size: 99%;
}
