.table-container {
  overflow-x: auto;
  table {
    font-size: 1rem;
    thead {
      background-color: #000;
    }
    tbody {
      tr:nth-of-type(even) {
        background-color: #555;
      }
      tr:nth-of-type(odd) {
        background-color: #665;
      }
    }
    tbody td .sort {
      width: 3.2rem;
    }
  }
}

.btn-group {
  .btn {
    border-radius: 0.25rem !important;
  }
}
